select {
margin-left: 10px;
border-radius: 5px;
}
input{
    margin-left: 10px;
    border-radius: 5px;
}
.input {

    border-width: 1px;
    border-color: black;
    background:#ecf0f1;
    border: none;
    border-bottom: none;
    font-size:1em;
    border-radius:4px;
    width: fit-content;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin-left: 10px;
  }
